name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: './backend/package-lock.json'
      
      - name: Lint Backend
        run: |
          cd backend
          npm install
          npm run lint
          
      - name: Lint Frontend
        run: |
          cd frontend
          npm install
          npm run lint
